
zimbardo/tsconfig.json
zimbardo/tailwind.config.js
zimbardo/README.md
zimbardo/public/vercel.svg
zimbardo/postcss.config.js
zimbardo/pages/quiz.tsx
zimbardo/public/next.svg
zimbardo/package-lock.json
zimbardo/package.json
zimbardo/next.config.js
zimbardo/app/page.tsx
zimbardo/app/layout.tsx
zimbardo/app/globals.css
zimbardo/app/favicon.ico
zimbardo/.eslintrc.json
README.md
README.md
AI_prompt.md
